.footer-section .footer-section-container .footer-gray {
  background-color: var(--secondary-grey);
}

.footer-section .footer-section-container .footer-blue {
  background-color: var(--primary-blue);
}

.footer-section .footer-section-container .footer-text {
  color: var(--secondary-dark);
  text-decoration: none;
}

.footer-section .footer-section-container .footer-btn {
  margin: 10px 0 0 0;
  background-color: var(--primary-white);
  border: none;
  padding: 18px 60px;
}

.footer-section .footer-section-container .footer-input {
  background-color: var(--primary-blue);
  border: none;
  border-bottom: 2px solid white;
  max-width: 600px;
}

.footer-section .footer-section-container .footer-input::placeholder {
  color: var(--primary-white);
  font-size: 20px;
  padding: 0 0 5px 0;
}

.footer-section .footer-section-container .social-link,
.connect-section .social-link {
  margin: 10px 0 0 0;
  height: 35px;
  color: var(--primary-white);
}


@media (min-width: 992px) {
  .footer-section .footer-section-container .footer-gray {
    border-radius: 50px 0 0 20px;
    padding-right: 64px !important;
    max-height: 530px;
  }

  .footer-section .footer-section-container .footer-blue {
    position: relative;
    z-index: 10;
    margin-left: -40px;
    flex: 0 0 calc(50% + 40px);
    max-width: calc(50% + 100px);
    max-height: 530px;
  }
}

@media (max-width: 767px) {
  
  .footer-section .footer-section-container .footer-gray {
    padding: 40px 5px 5px 5px;
  }

  .footer-section .footer-section-container .footer-gray .row {
    flex-direction: column;
    gap: 30px;
  }

  .footer-section .footer-section-container .footer-blue {
    padding: 0px 15px 30px 0px !important;
  }

  .footer-section .footer-section-container .footer-btn {
    padding: 5px 10px !important;
    border-radius: 30px;
  }

  .footer-section .footer-section-container .footer-text-large {
    font-size: 24px;
  }

  .footer-section .footer-section-container .footer-text {
    font-size: 19px;
  }

}