@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth@0,75..100;1,75..100&family=Syne:wght@400..800&display=swap');

:root {
  --body-color: black;
  --primary-blue: #0147ff;
  --secondary-blue: #1a1a1a;
  --secondary-grey: #dedee0;
  --primary-white: #ffffff;
  --secondary-dark: #1c1a1a;
  --secondary-darkgrey: #7e7e7e;
  --font: Syne, Montserrat, Roboto;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --border-radius: 50px;
}

body {
  padding: 0;
  background-color: var(--body-color);
  font-family: var(--font);
}

/* main */

/* re-usable - classes */
/* section topbar font */
.section-Title-big-font {
  font-size: 100px;
  font-weight: var(--font-weight-bold);
  margin: 30px 0 30px 0;
}

.section-Title-small-font {
  font-size: 20px;
}

.right-section {
  max-width: 295px;
}

.custom-radius {
  border-radius: var(--border-radius);
}

.section-Title-font {
  line-height: 1.2;
}


/* home */

.hero-section .hero-section-container {
  width: 1212px;
  background-color: var(--secondary-blue);
}

.hero-section .hero-section-container .hero-card {
  padding: 90px 50px !important;
}

.hero-section .hero-section-container .hero-card .hero-topbar-font {
  font-size: 22px;
  font-weight: var(--font-weight-bold);
}

.hero-section .hero-section-container .hero-card .hero-content .hero-title {
  font-size: 100px;
  line-height: 1.2;
}

.hero-section .hero-section-container .hero-card .hero-content .hero-btn {
  text-decoration: none;
  padding: 16px 50px;
  font-size: 25px;
  color: var(--primary-white);
  border-radius: 100px;
  background: #0147ff;
  background: linear-gradient(49deg,
      rgba(1, 71, 255, 1) 0%,
      rgba(6, 32, 117, 1) 92%);
  margin: 40px 0 0 0;
  display: inline-block;
  white-space: nowrap;
}

.hero-section .hero-section-container .hero-content {
  z-index: 100;
}

.hero-section .hero-section-container .hero-card .hero-content .top-text {
  position: relative;
  z-index: 1;
  max-width: 810px;
}

.hero-section .hero-section-container .hero-card .hero-content .hero-star-img {
  position: absolute;
  right: 15px;
  top: 160px;
  height: 442.82px;
  width: 436.41px;
  z-index: 0;
}

.hero-section .hero-section-container .hero-card .hero-content .hero-subtitle {
  font-size: 22px;
}

.company-section .company-bar {
  max-width: 1180px;
  padding-left: 30px;
}

.company-section .company-bar .company-img {
  max-width: 148px;
  max-height: 48px;
}

/* features */

.features-section .feature-card .feature-card-blue {
  background-color: var(--primary-blue);
}

.features-section .feature-card .feature-card-grey {
  background-color: var(--secondary-grey);
}

.features-section .feature-card-content .feature-card-title {
  font-size: 42px;
}

.features-section .feature-card-content .feature-card-description {
  font-size: 20px;
  margin: 50px 0 0 0;
  line-height: 30px;
}

.features-section .feature-card-content .feature-icon {
  max-width: 22px;
  max-width: 23px;
}

.features-section .feature-card-content .feature-icon-circle {
  max-width: 74px;
  max-height: 74px;
  margin: 0 20px 0 0;
  background-color: var(--primary-white);
  padding: 25px;
  border-radius: 100%;
}

.features-section .feature-card-content .speaker-avatars .feature-avatar {
  max-width: 74px;
  max-height: 74px;
  object-fit: cover;
  margin-right: -36px;
  border-radius: 100%;
}

.features-section .feature-card-content .features-section-btn {
  font-size: 25px;
  padding: 15px 25px;
}

.features-section .feature-card-content .features-section-btn .features-section-btn-icon {
  padding: 0 0 0 10px;
}

/* AGENDA section  */

.agenda-section .agenda-section-container .agenda-card .agenda-cards {
  padding: 120px 80px;
}

.agenda-section .agenda-section-container .agenda-cards .agenda-large-font {
  font-size: 40px;
  font-weight: var(--font-weight-bold);
}

.agenda-section .agenda-section-container .agenda-cards .agenda-description-font {
  font-size: 20px;
  margin: 30px 0 110px 0;
}

.agenda-section .agenda-section-container .agenda-card {
  background-color: var(--secondary-blue);
  z-index: 100;
}

.agenda-section .agenda-section-container .agenda-image {
  max-width: 386px;
  max-height: 300px;
  margin: -103px 0 0px -79px;
  position: absolute;
  z-index: 0;
}

.agenda-section .agenda-section-container .agenda-btn {
  text-decoration: none;
  border: none;
  font-size: 25px;
  color: var(--primary-white);
  background: #0147ff;
  background: linear-gradient(49deg,
      rgba(1, 71, 255, 1) 0%,
      rgba(6, 32, 117, 1) 92%);
  display: block;
  width: 100%;
  padding: 20px;
}

/* speakers section  */
.speakers-section .speaker-card.text-card {
  background-color: var(--secondary-grey);
}

.speakers-section .speaker-card {
  min-height: 380px;
}

.speakers-section .speaker-card .speaker-name {
  font-size: 30px;
  padding: 30px 0 0 15px;
}

.speakers-section .speaker-card .speaker-role {
  font-size: 20px;
  color: var(--secondary-dark);
  padding: 30px 0 50px 15px;
}

.speakers-section .image-card .speaker-card-image {
  filter: grayscale(1);
}

.speakers-section .image-card .speaker-card-image:hover {
  transition: 1s ease-out;
  filter: grayscale(0);
}

.speakers-section .speaker-sectio-btn {
  font-size: 25px;
  padding: 20px 50px;
  gap: 20px;
}

/* why attend section */
.attend-section {
  z-index: 100;
  position: relative;
}

.attend-section .attend-section-content {
  background-color: #1c1c1c;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.attend-section .attend-section-content .attend-section-title {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
}

.attend-section .attend-section-content .attend-section-description {
  font-size: 18px;
  line-height: 1.6;
  color: #c9c9c9 !important;
}

.attend-section .attend-section-content .attend-image-left,
.attend-section .attend-section-content .attend-image-left-2 {
  bottom: -55px;
  left: -3px;
  opacity: 0.95;
  height: auto;

}

.attend-section .attend-section-content .attend-image-left {
  max-width: 220px;
}

.attend-section .attend-section-content .attend-image-left-2 {
  max-width: 260px;
}

.attend-section .attend-section-content .attend-image-right {
  bottom: -48px;
  right: -23px;
  opacity: 0.95;
  max-width: 250px;
  height: auto;

}

/* attendes Carousel */
.carousel-section .attendes-carousel-title {
  font-size: 50px;
}

.carousel-section .carousel-buttons {
  display: flex;
  gap: 16px;
}

.carousel-section .carousel-buttons .carousel-button {
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.carousel-section .carousel-buttons .prev-btn {
  background-color: transparent;
  color: var(--primary-white);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.carousel-section .carousel-buttons .prev-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: var(--primary-white);
}

.carousel-section .carousel-buttons .next-btn {
  background-color: var(--secondary-grey);
  border: none;
  color: var(--primary-blue);
}

.carousel-section .carousel-buttons .next-btn:hover {
  background-color: var(--primary-white);
  transform: scale(1.05);
}

/* --- Carousel Track --- */
.testimonial-section .carousel-track {
  position: relative;
  height: 480px;
}

.testimonial-section .carousel-track .testimonial-card {
  position: absolute;
  top: 50%;
  max-width: 500px;
  height: 420px;
  padding: 45px 62px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* --- testimonial Card  --- */
.testimonial-section .carousel-track .testimonial-card .card-title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 34px;
  margin-bottom: 25px;
}

.testimonial-section .carousel-track .testimonial-card .card-text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.testimonial-section .carousel-track .testimonial-card .attendee-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.testimonial-section .carousel-track .testimonial-card .attendee-avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-section .carousel-track .testimonial-card .attendee-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

.testimonial-section .carousel-track .testimonial-card .attendee-title {
  margin: 4px 0 0 0;
  font-size: 15px;
  opacity: 0.8;
}

.testimonial-section .carousel-track .theme-dark {
  background-color: var(--secondary-blue);
  color: var(--secondary-grey);
}

.testimonial-section .carousel-track .theme-blue {
  background-color: var(--primary-blue);
  color: var(--primary-white);
}

.testimonial-section .carousel-track .theme-blue .card-title,
.testimonial-section .carousel-track .theme-blue .card-text,
.testimonial-section .carousel-track .theme-blue .attendee-name,
.testimonial-section .carousel-track .theme-blue .attendee-title {
  color: var(--primary-white);
}

.testimonial-section .carousel-track .theme-light {
  background-color: var(--secondary-grey);
  color: #111111;
}

.testimonial-section .carousel-track .pos-left {
  left: 50%;
  transform: translate(calc(-150% + 260px), -50%);
  z-index: 1;

}

.testimonial-section .carousel-track .pos-center {
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}

.testimonial-section .carousel-track .pos-right {
  left: 50%;
  transform: translate(calc(50% + -260px), -50%);
  z-index: 1;
  border-radius: 50px 0 0 50px;

}

/* register now */
.register-section {
  position: relative;
  z-index: 100;
}


.register-section .register-content .register-section-container {
  background-color: var(--secondary-blue);
  padding: 80px 80px 100px 80px;
}

.register-section .register-content .register-section-container .register-top-text {
  font-size: 20px;
  color: var(--primary-white);
}

.register-section .register-content .register-section-container .time {
  gap: 2px;
}

.register-section .register-content .register-section-container .register-number {
  font-size: 180px;
  font-weight: 500;
  line-height: 0.9;
}

.register-section .register-content .register-section-container .register-colon {
  font-size: 200px;
  font-weight: 400;
  line-height: 0.85;
}

.register-section .register-content .register-section-container .register-label {
  font-size: 16px;
  color: var(--primary-white);
  margin-top: 25px;
  text-transform: uppercase;
}

.register-section .register-content .register-section-container .register-image-container {
  transform: translate(0%, 5%);
  z-index: 0;
}

.register-section .register-content .register-section-container .register-image {
  max-width: 403px;
  min-width: 403px;
}

/* ticket-section */
.Ticket-section .ticket-main-title {
  font-size: 45px;
  font-weight: var(--font-weight-bold);
}

.Ticket-section .Ticket-card {
  border: 2px solid var(--primary-white);
  border-radius: 35px;
  padding: 50px 40px 30px 40px;
  transition: 0.4s all;
  background-color: transparent;
}

.Ticket-section .Ticket-card.active {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
}

.Ticket-section .Ticket-card:hover {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
}

.Ticket-section .Ticket-card .ticket-title {
  font-size: 26px;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.Ticket-section .Ticket-card .ticket-description {
  font-size: 20px;
  color: var(--primary-white);
  margin-bottom: 20px;
}

.Ticket-section .Ticket-card.active .ticket-description {
  color: var(--primary-white);
}

.Ticket-section .Ticket-card:hover .ticket-description {
  color: var(--primary-white);
}

.Ticket-section .Ticket-card .ticket-price {
  font-size: 50px;
  font-weight: var(--font-weight-bold);
  margin: 30px 0;
}

.Ticket-section .Ticket-card .Ticket-btn {
  text-decoration: none;
  border-radius: 50px;
  padding: 22px 10px;
  font-size: 25px;
  color: var(--primary-white);
  background: var(--primary-blue);
  border: none;
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  transition: 0.3s all;
  margin: 0 0 30px 15px;
  width: 90%;
}

.Ticket-section .Ticket-card.active .Ticket-btn {
  background: #e2e2e2;
  color: var(--secondary-dark);
}

.Ticket-section .Ticket-card:hover .Ticket-btn {
  background: #e2e2e2;
  color: var(--secondary-dark);
}

/* connect */

.connect-section .connect-section-container {
  background-color: var(--secondary-blue);
  padding: 90px 70px 10px 60px;
}

.connect-section .connect-section-container .connect-card .connect-card-content .connect-left-col .connect-section-main-title {
  font-size: 50px;
  font-weight: var(--font-weight-bold);
  line-height: normal;
}

.connect-section .connect-section-container .connect-card .connect-card-content .connect-left-col .connect-section-secondary-title {
  font-size: 26px;
  font-weight: var(--font-weight-bold);
}

.connect-section .connect-section-container .connect-card .connect-card-content .connect-left-col .connect-section-description {
  font-size: 20px;
  margin: 20px 0 0 0;
}

.connect-section .connect-section-container .connect-card .connect-card-content .connect-card-grey {
  background-color: var(--secondary-grey);
  margin: 0 0 0 50px;
}

.connect-section .connect-section-container .connect-card .connect-card-content .connect-card-grey .connect-card-input {
  background-color: var(--secondary-grey);
  border: none;
  border-bottom: 1px solid var(--secondary-darkgrey);
}

.connect-section .connect-section-container .connect-card .connect-card-content .connect-card-grey .connect-card-input::placeholder {
  color: var(--secondary-darkgrey);
  font-size: 20px;
  padding: 0 0 30px 0;
}

.connect-section .connect-section-container .connect-card .connect-card-content .connect-card-grey .connect-card-text {
  color: var(--secondary-dark);
  text-decoration: none;
}

.connect-section .connect-section-container .connect-card .connect-card-content .connect-card-grey .connect-card-input-textarea {
  overflow: hidden;
  resize: none;
}

.connect-section .connect-section-container .connect-card .connect-card-content .connect-card-grey .connect-card-btn {
  text-decoration: none;
  padding: 16px 55px;
  font-size: 18px;
  color: var(--primary-white);
  background: var(--primary-blue);
  background: linear-gradient(69deg,
      rgba(1, 71, 255, 1) 0%,
      rgba(97, 142, 255, 1) 95%);
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: 0.3s all;
}

.connect-section .connect-section-container .connect-card .connect-card-content .connect-card-img {
  max-width: 1140px;
  height: auto;
  margin: 0 0 50px 0;
}


/* media queary */

@media (min-width: 992px) {
  .footer-section .footer-section-container .footer-gray {
    border-radius: 50px 0 0 20px;
    padding-right: 64px !important;
    max-height: 530px;
  }

  .footer-section .footer-section-container .footer-blue {
    position: relative;
    z-index: 10;
    margin-left: -40px;
    flex: 0 0 calc(50% + 40px);
    max-width: calc(50% + 100px);
    max-height: 530px;
  }
}

@media (min-width: 1279px) {
  .nexus-landing-page {
    margin-right: 60px;
  }

  .on-big-screen {
    max-width: calc(100% - 80px) !important;
  }

  .testimonial-section .carousel-track .pos-left {
    transform: translate(calc(-98% + 6px), -50%);
  }

  .testimonial-section .carousel-track .pos-center {
    transform: translate(-34%, -50%);
  }

  .testimonial-section .carousel-track .pos-right {
    transform: translate(calc(50% + -150px), -50%);
    max-width: 480px;
  }

  .connect-section .connect-section-container .connect-card .connect-card-content .connect-card-img {
    width: calc(100% + 131px) !important;
  }
}

@media (min-width: 1281px) {
  .nexus-landing-page {
    margin-left: 46px !important;
  }

  .on-big-screen {
    max-width: calc(100% - 300px) !important;
  }

  .testimonial-section .carousel-track .pos-left {
    transform: translate(calc(-98% + 30px), -50%);
  }

  .testimonial-section .carousel-track .pos-center {
    transform: translate(-15%, -50%);
  }

  .testimonial-section .carousel-track .pos-right {
    transform: translate(calc(50% + 205px), -50%);
    max-width: 480px;
  }

  .connect-section .connect-section-container .connect-card .connect-card-content .connect-card-img {
    width: calc(100% + 350px) !important;
    margin: 0 0 50px -10px;
  }

}

@media (min-width: 1023px) {

  .hero-section .hero-section-container {
    max-width: calc(100% + -70px);
  }

  .hero-section .hero-section-container .hero-card {
    padding: 60px 50px 55px 50px;
  }

  .attend-section .attend-section-content .attend-image-left,
  .attend-section .attend-section-content .attend-image-left-2 {
    bottom: -55px;
    left: -3px;
    height: auto;
  }

  .attend-section .attend-section-content .attend-image-left {
    max-width: 180px;
  }

  .attend-section .attend-section-content .attend-image-left-2 {
    max-width: 220px;
  }

  .attend-section .attend-section-content .attend-image-right {
    bottom: -48px;
    right: -30px;
    max-width: 220px;
    height: auto;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .section-Title-big-font {
    font-size: 65px;
  }

  .hero-section .hero-section-container {
    width: calc(100% + -46px);
  }

  .hero-section .hero-section-container .hero-card {
    padding: 60px 50px 15px 50px;
  }

  .hero-section .hero-section-container .hero-card .hero-content .hero-title {
    font-size: 50px;
  }

  .hero-section .hero-section-container .hero-card .hero-content .hero-subtitle {
    max-width: 470px;
  }

  .hero-section .hero-section-container .hero-card .hero-content .hero-btn {
    font-size: 18px;
    padding: 18px 40px;
  }

  .hero-section .hero-section-container .hero-card .hero-content .hero-star-img {
    position: absolute;
    right: -50px;
    top: auto;
    bottom: 80px;
    display: block;
    max-width: 350px;
    opacity: 0.8;
    z-index: 0;
    max-width: 300px;
    height: auto;
    margin: 100px 10px 50px 350px;
  }

  .attend-section .attend-section-content-gap {
    margin-top: 25px;
  }

  .agenda-section .agenda-section-container .agenda-image {
    display: none;
  }

  .agenda-section .agenda-section-container .agenda-cards .agenda-description-font {
    margin: 30px 0 70px 0;
  }

  .agenda-section .agenda-section-container .agenda-btn {
    margin-top: -60px;
  }

  .speakers-section .speaker-card .speaker-name {
    font-size: 30px;
    padding: 46px 0 0 40px;
  }

  .speakers-section .speaker-card .speaker-role {
    font-size: 20px;
    color: var(--secondary-dark);
    padding: 46px 0 50px 40px;
  }

  .carousel-section .carousel-buttons {
    margin-top: 15px;
  }

  .carousel-section .carousel-buttons .carousel-button {
    width: 50px;
    height: 50px;
  }

  .testimonial-section .carousel-track {
    height: 420px;
  }

  .testimonial-section .carousel-track .testimonial-card {
    width: 90%;
    max-width: 400px;
    height: 360px;
  }

  .testimonial-section .carousel-track .pos-left {
    transform: translate(calc(-150% + 245px), -50%);
  }

  .testimonial-section .carousel-track .pos-center {
    transform: translate(-50%, -50%);

  }

  .testimonial-section .carousel-track .pos-right {
    transform: translate(calc(50% + -247px), -50%);
    max-width: 400px;
  }

  .connect-section .connect-section-container .connect-card .connect-card-content .connect-card-img {
    width: calc(100% + 38px);
    margin: 0 0 50px calc(100% - 103%);
  }

  .connect-section .connect-section-container .connect-card .connect-card-content .connect-card-grey {
    margin: 30px 0 0 0px;
  }

  .connect-section .connect-section-container .connect-card .connect-card-content .connect-left-col .connect-section-description {
    margin: 5px 0 0 0;
  }

  .connect-section .connect-section-container .connect-card .connect-card-content .connect-left-col .connect-section-secondary-title {
    margin: 20px 0 0 0;
  }

  .register-section .register-content .register-section-container .time {
    gap: 15px;
  }

  .register-section .register-content .register-section-container .register-number {
    font-size: 120px;
  }

  .register-section .register-content .register-section-container .register-colon {
    margin: 20px 0 0 0;
    font-size: 100px;
  }
}

@media (min-width: 1024px) and (max-width: 1281px) {

  .nav-bar .nav-bar-content .nav-text {
    font-size: 22px;
    padding: 8px 12px !important;
  }

  .hero-section .hero-section-container .hero-card .hero-content .hero-title {
    font-size: 70px;
  }

  .hero-section .hero-section-container .hero-card .hero-content .hero-btn {
    font-size: 20px;
    padding: 18px 40px;
  }

  .hero-section .hero-section-container .hero-card .hero-content .hero-star-img {
    position: absolute;
    right: auto;
    top: auto;
    display: block;
    margin: 120px 0 0 500px;
    max-width: 310px;
    max-height: 310px;
  }

  .Ticket-section .Ticket-card .Ticket-btn {
    font-size: 20px;
  }

  .connect-section .connect-section-container .connect-card .connect-card-content .connect-card-img {
    width: calc(100% + 31px);
    margin: 0 0 50px -13px;
  }
}

@media (max-width: 766px) {
  .nexus-landing-page {
    margin: 0 10px 0 10px;
  }

  .section-Title-big-font {
    font-size: 50px;
    font-weight: var(--font-weight-bold);
    margin: 30px 0 30px 0;
  }

  .section-Title-small-font {
    font-size: 16px;
    max-width: 100%;
  }

  .nav-bar .nav-bar-content.nav-logo {
    max-width: 110px;
  }

  .nav-bar .nav-bar-content .navbar-toggler {
    transform: scale(0.95);
  }

  .hero-section .hero-section-container {
    max-width: calc(100% - 17px);
  }

  .hero-section .hero-section-container .hero-card {
    padding: 40px 20px;
    border-radius: 30px;
  }

  .hero-section .hero-section-container .hero-card .hero-content .hero-title {
    font-size: 45px;
    margin: 0;
  }

  .hero-section .hero-section-container .hero-card .hero-content .hero-star-img {
    display: none;
  }

  .hero-section .hero-section-container .hero-card .hero-content .hero-btn {
    font-size: 20px;
    padding: 22px 30px;
  }

  .hero-section .hero-section-container .hero-card .hero-content .hero-btn-div .hero-btn {
    margin: 0 auto !important;
  }

  .company-section .company-bar .company-img {
    margin-top: 20px;
  }

  .features-section .feature-card-content .feature-card-title {
    font-size: 24px;
  }

  .features-section .feature-card-content .feature-card-description {
    font-size: 19px;
  }

  .features-section .feature-card-content .feature-icon {
    max-width: 22px;
    max-width: 22px;
  }

  .features-section .feature-card-content .feature-icon-circle {
    width: 54px;
    height: 54px;
    padding: 10px;
  }

  .features-section .feature-card-content .feature-avatar {
    width: 54px;
    height: 54px;
    margin: 0 0 0 10px;
  }

  .features-section .feature-card-content .features-section-btn {
    font-size: 16px;
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
  }

  .agenda-section .agenda-section-container .agenda-card .agenda-cards {
    padding: 80px 40px;
  }

  .agenda-section .agenda-section-container .agenda-cards .agenda-description-font {
    font-size: 16px;
    margin: 15px 0 50px 0;
  }

  .agenda-section .agenda-section-container .agenda-cards .agenda-large-font {
    font-size: 25px;
    font-weight: var(--font-weight-bold);
  }

  .agenda-section .agenda-section-container .agenda-image {
    display: none;
  }

  .agenda-section .agenda-section-container .agenda-btn {
    font-size: 17px;
    margin: 0 auto;
  }

  .speakers-section .speaker-card .speaker-name {
    padding: 46px 0 0 40px;
  }

  .speakers-section .speaker-card .speaker-role {
    color: var(--secondary-dark);
    padding: 46px 0 50px 40px;
  }

  .speakers-section .speaker-sectio-btn {
    font-size: 18px;
    padding: 15px 35px;
    gap: 20px;
  }

  .attend-section-content {
    padding: 30px 20px !important;
  }

  .attend-section-description.text-lg-end {
    text-align: left !important;
  }

  .attend-section .attend-section-content .attend-image-left,
  .attend-section .attend-section-content .attend-image-left-2,
  .attend-section .attend-section-content .attend-image-right {
    bottom: -30px;
    height: auto;
  }

  .attend-section .attend-section-content .attend-image-left {
    left: -3px;
    max-width: 110px;
  }

  .attend-section .attend-section-content .attend-image-left-2 {
    left: -18px;
    max-width: 130px;
  }

  .attend-section .attend-section-content .attend-image-right {
    right: -5px;
    max-width: 150px;
    height: auto;
  }

  .carousel-section .attendes-carousel-title {
    font-size: 28px;
    max-width: 100%;
  }

  .carousel-section .carousel-buttons {
    margin-top: 15px;
  }

  .carousel-section .carousel-buttons .carousel-button {
    width: 50px;
    height: 50px;
  }

  .testimonial-section .carousel-track {
    height: 420px;
  }

  .testimonial-section .carousel-track .testimonial-card {
    width: 90%;
    max-width: 360px;
    height: 440px;
  }

  .testimonial-section .carousel-track .pos-left {
    margin: 0 -100%;
    opacity: 0;
  }

  .testimonial-section .carousel-track .pos-right {
    margin: 0 -55%;
    opacity: 0;
  }

  .register-section .register-content .register-section-container {
    padding: 40px 20px;
    border-radius: 30px;
  }

  .register-section .register-content .register-section-container .register-top-text {
    font-size: 18px;
  }

  .register-section .register-content .register-section-container .register-image-container {
    transform: translate(40%, 40%);
  }

  .register-section .register-content .register-section-container .register-image {
    max-width: 250px;
  }

  .register-section .register-content .register-section-container .time {
    gap: 15px;
  }

  .register-section .register-content .register-section-container .register-number {
    font-size: 60px;
  }

  .register-section .register-content .register-section-container .register-colon {
    margin: 10px 0 0 0;
    font-size: 50px;
  }

  .Ticket-section .ticket-main-title {
    font-size: 35px;
  }

  .Ticket-section .Ticket-card {
    padding: 35px 25px 30px 25px;
  }

  .Ticket-section .Ticket-card .ticket-price {
    font-size: 45px;
    margin: 20px 0;
  }

  .Ticket-section .Ticket-card .Ticket-btn {
    font-size: 16px;
    padding: 12px 15px;
    margin: 0;
  }

  .connect-section .connect-section-container .connect-card .connect-card-content .connect-card-img {
    width: calc(100% + 22px);
    margin: 0 0 50px -18px;
  }

  .connect-section .connect-section-container .connect-card .connect-card-content .connect-card-grey {
    margin: 0 0 0 -5px;
  }

  .connect-section .connect-section-container {
    background-color: var(--secondary-blue);
    padding: 90px 40px 10px 50px;
  }

  .connect-section .connect-section-container .connect-card .connect-card-content .connect-left-col .connect-section-main-title {
    font-size: 30px;
    font-weight: var(--font-weight-bold);
    line-height: normal;
  }

  .connect-section .connect-section-container .connect-card .connect-card-content .connect-left-col .connect-section-secondary-title {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
  }

  .connect-section .connect-section-container .connect-card .connect-card-content .connect-left-col .connect-section-description {
    font-size: 18px;
    margin: 5px 0 20px 0;
    color: var(--primary-white);
  }

  .connect-section .connect-section-container .connect-card .connect-card-content .connect-card-grey .connect-card-btn {
    margin: 0 auto;
    padding: calc(0% + 20px);
  }

  .footer-section .footer-section-container .footer-gray {
    padding: 40px 30px 30px 35px;
  }

  .footer-section .footer-section-container .footer-gray .row {
    flex-direction: column;
    gap: 30px;
  }

  .footer-section .footer-section-container .footer-blue {
    padding: 0px 25px 30px 25px !important;
  }

  .footer-section .footer-section-container .footer-btn {
    padding: 5px 10px !important;
    border-radius: 30px;
  }

  .footer-section .footer-section-container .footer-text-large {
    font-size: 24px;
  }

  .footer-section .footer-section-container .footer-text {
    font-size: 19px;
  }

  .offcanvas-custom-width {
    --bs-offcanvas-width: 70%;
  }
}