:root{
    --body-background-color : black;
    --primary-background-color : #0147FF;
    --secondary-blue-background-color : #1A1A1A;
    --secondary-grey-background-color :#DEDEE0;
    --primary-font-color : #FFFFFF;
    --secondary-dark-font-color : #1C1A1A;
    --secondary-darkgrey-font-color : #7E7E7E;
}

.body{
    margin: 0;
    padding: 0;
    background-color:  var(--body-background-color) 
}